# Ignore Visual Paradigm backup files
*.vpp.bak
*.bak_*
.vpp.lck

# Ignore lock files
*.lock
*.lck
*.bak_*
# Windows system files
Thumbs.db
Desktop.ini

# macOS system files
.DS_Store

# Temporary files
*.tmp
*.temp
*.swp
*.swo
